
body{background-color: #efefef;
  font-family: arial;
  color: black;}
body{background-image:url("");
  h1{
    font-size: 18px;
    font-family: Georgia;
    font-style: italic;
  }
  a{
 color:#000000;
   text-decoration:underline;
  }
  a.hover{
  color: #000000;
    text-decoration:none
  }
  h2{
  font-size: 16px;
  }
  p{
  font-size: 14px
  }
